.chart {
  width: 100%;
  height: 400px;
  background: var(--bs-chart-bg);
  padding: 1.25rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow:
    0 -3px 31px 0 #0000000d,
    0 6px 20px 0 #00000005;

  .chart-body {
    flex: 1;
    width: 100%;
    overflow: hidden;
  }
}
