.chart {
  width: 100%;
  height: 400px;
  background: var(--bs-chart-bg);
  padding: 1.25rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow:
    0 -3px 31px 0 #0000000d,
    0 6px 20px 0 #00000005;
  .email-sent {
    color: var(--bs-secondary-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
  }
  .text-center {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    .number {
      color: var(--bs-heading-color);
      font-size: 20px;
      font-weight: 500;
      line-height: 1.2;
    }
    .text {
      line-height: 1.7;
      color: var(--bs-secondary-color);
      font-size: 13px;
    }
  }
  .chart-body {
    flex: 1;
    width: 100%;
    overflow: hidden;
  }
}
