.signUp {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .signUp-container {
    margin-bottom: 1.5rem;
    .signUp-container_inner {
      width: 450px;
      height: min-content;
      background: var(--bs-secondary-bg);
      box-shadow:
        0 -3px 31px 0 #0000000d,
        0 6px 20px 0 #00000005;
      border-radius: 5px;
      padding: 1.25rem 1.25rem;
      .logo {
        width: 115px;
        text-align: center;
        font-size: 1.42188rem;
        margin: 3rem auto 0 auto;
        margin-bottom: 1.5rem;
        height: 30px;
      }
      .auth-title {
        font-size: 18px;
        color: var(--bs-secondary-color);
        text-align: center;
        margin-bottom: 0.25rem;
      }
      .auth-subtitle {
        margin-bottom: 1rem;
        color: var(--bs-secondary-color);
        text-align: center;
        font-size: 13px;
      }
      .form-label {
        font-weight: 500;
        display: block;
        margin-bottom: 0.5rem;
        font-size: 13px;
        color: var(--bs-body-color);
      }
      .form-control {
        appearance: none;
        background-clip: padding-box;
        background-color: #fff;
        background-color: var(--bs-secondary-bg);
        border: 1px solid #dee2e6;
        border: var(--bs-border-width) solid var(--bs-border-color);
        border-radius: 0.25rem;
        border-radius: var(--bs-border-radius);
        color: #1f2431;
        color: var(--bs-body-color);
        display: block;
        font-size: 0.8125rem;
        font-weight: 400;
        line-height: 1.5;
        padding: 0.375rem 0.75rem;
        transition:
          border-color 0.15s ease-in-out,
          box-shadow 0.15s ease-in-out;
        width: 100%;
        outline: none;
        transition:
          border-color 0.2s ease,
          box-shadow 0.2s ease;

        &:focus {
          border-color: #7a6fbe; // цвет подсветки
          box-shadow: 0 0 0 2px rgba(122, 111, 190, 0.25);
        }
        &::placeholder {
          color: var(--bs-body-color);
        }
      }
      .form {
        padding: 1rem;
        .btn-wrapper {
          display: flex;
          justify-content: end;
          .submit-button {
            min-width: 110px;
            cursor: pointer;
            background: var(--bs-primary);
            color: white;
            font-size: 13px;
            padding: 5px 15px;
            border-radius: 3px;
          }
        }
      }
      .termsAgreement {
        position: relative;
        margin-top: 1.5rem;
        text-align: center;
        font-size: 13px;
        color: var(--bs-body-color);

        span {
          color: rgba(var(--bs-primary-rgb));
          cursor: pointer;
        }
      }
      @media (max-width: 768px) {
        width: auto;
      }
    }
  }
  .auth-footer {
    margin-top: 3rem;
    text-align: center;
    font-size: 13px;
    color: var(--bs-body-color);

    .auth-footer__text {
      margin-bottom: 1rem;

      span {
        color: #7a6fbe;
        cursor: pointer;
        font-size: 13px;
      }
    }

    .auth-footer__copyright {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
}
