.auth-footer {
  margin-top: 3rem;
  text-align: center;
  font-size: 13px;

  .auth-footer__text {
    margin-bottom: 1rem;
    color: var(--bs-body-color);

    span {
      color: #7a6fbe;
      cursor: pointer;
      font-size: 13px;
    }
  }
  .auth-footer__copyright {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--bs-body-color);
  }
}
