.stat-card {
  .container-fluid {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    width: 100%;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}
