.email-sent {
  color: var(--bs-secondary-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}
.text-center {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  .number {
    color: var(--bs-heading-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
  .text {
    line-height: 1.7;
    color: var(--bs-secondary-color);
    font-size: 13px;
  }
}
